$color-initial: #fff;
$color-primary: #9b4dca;
$color-secondary: #606c76;
$color-tertiary: #f4f5f6;
$color-quaternary: #d1d1d1;
$color-quinary: #e1e1e1;
$header-background: #49CEFF;
$header-color: #fff;
$leader-background: #24252D;
*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.App {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	grid-template-areas: "header" "leader-board" "footer";
}

%center {
	width: 100%;
	display: flex;
	justify-content: center;
}

header {
	@extend %center;
	grid-area: header;
	padding: 20px;
	background: $header-background;
	h1 {
		text-align: center;
		margin: 0;
		color: $header-color;
	}
}

footer {
	@extend %center;
	grid-area: footer;
	padding: 20px;
	background: $header-background;
	h4 {
		text-align: center;
		margin: 0;
		color: $header-color;
	}
}

.link {
	&:hover,
	&:focus {
		outline: none;
		color: $color-primary;
	}
	&:active {
		outline: none;
		color: $color-secondary;
	}
}

.leader-board {
	grid-area: "leader-board";
	display: grid;
	grid-template-columns: 10% 1fr 10%;
	grid-template-rows: 1fr;
	grid-template-areas: ". table .";
	background: $leader-background;
	table {
		grid-area: table;
		margin: 0 20px;
		background: $color-initial;
		td,
		th {
			padding: 5px 15px;
		}
		thead {
			tr {
				background: $color-quaternary;
			}
		}
		tbody {
			tr:nth-child(even) {
				background: $color-quaternary;
			}
		}
		.camper {
			/*camper-username should be a div inside a td, not a td
			otherwise the table lost its format
			*/
			.camper-username {
				height: 100%;
				display: flex;
				align-items: center;
				.camper-img {
					width: 50px;
					border-radius: 50%;
				}
				.username-link {
					margin-left: 10px; //TODO: add color to the user's link
				}
			}
		}
	}
}

@media (max-width: 576px) {
	.leader-board {
		grid-area: "leader-board";
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "table";
	}
}